body {    
    color: $gray;
	@include open-sans;
	font-size: 14px;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
}

* {
	box-sizing: border-box;
}