.project__summary__recap {
	display: block;
	margin-bottom: em(40px, 16px);
}

.project__summary__section,
.project__summary__p {
	padding-bottom: em(20px, 16px);	
}

.project__summary__section__headline {
	display: block;
	margin-bottom: em(10px, 16px);
}