@mixin proxima {
	font-family: "proxima-nova", "Proxima Nova", sans-serif;
	font-style: normal;
	font-weight: $light;
}
@mixin flood {
	font-family: "flood-std",sans-serif;
	font-style: normal;
	font-weight: $light;
}