.project {
	padding: em(30px, 16px) 0 0;

	@include bp-640 {
		padding: em(50px, 16px) 0 em(30px, 16px);
	}	

	+ .project {
		border-top: 1px solid $gray-light;
	}

	&__headline,
	&__subheadline {
		text-align: center;
	}

	&__headline {
		padding: 0 em(20px, 16px) em(10px, 16px);
		font-size: em(20px, 16px);

		@include bp-640 {
	        font-size: em(26px, 16px);
	    }		
	}

	&__subheadline {
		display: block;
		color: $gray;
		line-height: 1.3em;
		padding-bottom: em(30px, 16px);
		font-style: italic;
	}

	&__details-list {
		margin-bottom: em(30px, 16px);
	}

	&__details-item {
		margin-bottom: em(4px, 16px);
	}

	&__item {

		img {
			max-width: 100%;			
			margin: 0 auto;		
		}

		&--details {
			margin-bottom: em(20px, 16px);
		}
	}

	&__img-border {
		border: 1px solid $gray-light;
	}

	&__summary {
		padding: em(20px, 16px) 0;
		@extend %max-width-460;
		line-height: 1.4em;
	}

	&__summary__item {
		padding-top: em(10px, 16px);
	}

	&__summary__copy {
		padding-bottom: em(20px, 16px);
	}
}