@import "patterns";

.work {
	margin: 0 auto;
	position: relative;

	&__anchor {
		position: absolute;
		top: em(-50px, 16px);
	}

    &__inner {
        @extend %max-width-768;
        padding: 0 em(30px, 16px);
    }

    // &__headline-anchor-container {
    // 	@extend %max-width-460;
    // 	margin-bottom: 20px;
    // }

	&__headline {
		padding: em(80px, 38px) 0 0;
		text-align: center;
		position: relative;
		font-size: em(38px, 16px);
	}

	// &__anchor-item {
	// 	display: inline;
	// 	line-height: 1.6em;

	// 	+.work__anchor-item:before {
	// 		content: "• ";
	// 	}
	// }	

	// &__grid {
	// 	@include clearfix;
	// 	margin-top: em(40px, 16px);

	// 	&__item-1,
	// 	&__item-2,
	// 	&__item-3,
	// 	&__item-4 {
	// 		@extend %work__grid__item;
	// 		background-size: cover;
	// 	}

	// 	&__item-1 {
	// 		background: url(../images/projects/pcln-confirmation/hotel-sopq.jpg);
	// 	}

	// 	&__item-2 {
	// 		background: url(../images/projects/pcln-p2/search.jpg);			
	// 	}

	// 	&__link {
	// 		display: block;
	// 		height: 100%;
	// 	}
	// }
}