.work {
	margin: 0 auto;
	position: relative;

	&__anchor {
		position: absolute;
		top: -50px;
	}

    &__inner {
        @extend %max-width-768;
        padding: 0 30px;
    }

    // &__headline-anchor-container {
    // 	@extend %max-width-460;
    // 	margin-bottom: 20px;
    // }

	&__headline {
		padding: 80px 0 0;
		text-align: center;
		position: relative;
		font-size: 30px;
		@include source;

		@include bp-640 {
			font-size: 34px;
		}
	}

	// &__anchor-item {
	// 	display: inline;
	// 	line-height: 1.6em;

	// 	+.work__anchor-item:before {
	// 		content: "• ";
	// 	}
	// }	
}