.work {
	margin: 0 auto;
	position: relative;

	&__anchor {
		position: absolute;
		top: -50px;
	}

    &__inner {
        @extend %max-width-768;
        padding: 0 30px;
    }

    // &__headline-anchor-container {
    // 	@extend %max-width-460;
    // 	margin-bottom: 20px;
    // }

	&__headline {
		padding: 30px 0 15px;
		text-align: center;
		position: relative;
		font-size: 18px;
		letter-spacing: 0.05em;
		@include source;

		@include bp-640 {
			font-size: 20px;
		}
	
		&:after {
			background: none repeat scroll 0 0 $gray-light;
		    bottom: 0;
		    content: "";
		    display: block;
		    height: 4px;
		    left: 50%;
		    margin-left: -20px;
		    position: absolute;
		    width: 40px;
		}
	}

	// &__anchor-item {
	// 	display: inline;
	// 	line-height: 1.6em;

	// 	+.work__anchor-item:before {
	// 		content: "• ";
	// 	}
	// }	
}