.about {
	padding: 0 20px;	

	&__inner {
		@extend %max-width-460;
	}

	&__copy {
		padding: 0 0 20px;
		line-height: 1.4em;
		font-size: em(18px, 16px);
	}

	&__headline {
		padding: em(40px, 30px) 0 em(35px, 30px);
		text-align: center;
		font-size: em(40px, 16px);
	}
}