.footer {
	padding: em(50px, 16px) em(20px, 16px) em(60px, 16px);
	margin: em(50px, 16px) auto 0;
	border-top: 1px solid $gray-light;
	text-align: center;

	&__headline {
		padding-bottom: em(38px, 38px);
	    @include headline;
	}	
}