.header {

    // * ABOUT *

    &--about {       
        margin: 0 auto;
        max-width: em(768px, 16px);
        position: relative;
    }

    &--about__name {
        text-align: center;
        font-size: em(40px, 16px); 
        padding: em(80px, 40px) 0;
        @include source;

        @include bp-640 {
            font-size: em(90px, 16px);
            padding: em(80px, 90px) 0;
        }
    }

    &--about__title {
        font-size: em(16px, 36px);
        display: block;
        padding-top: em(4px, 16px);

        @include bp-640 {
            font-size: em(34px, 90px);
        }
    }    
}