.header {

    // * ABOUT *

    &--about {       
        margin: 0 auto;
        max-width: 768px;
        position: relative;
    }

    &--about__image {
        max-width: 100%;        
        margin: 40px auto;
        padding: 0 20px;
        text-align: center;
    }

    &--about__name {        
        position: absolute;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 36px;        
        top: 20%;
        @include source;

        @include bp-640 {
            font-size: 45px;
            top: 28%;
        }
    }

    &--about__title {
        font-size: 16px;
        letter-spacing: 0.02em;
        word-spacing: 0.15em;
        text-transform: uppercase;
        @include franklin-gothic;
        display: block;
        padding-top: 5px;
        font-weight: $medium;

        @include bp-640 {
            font-size: 18px;
        }
    }    
}