.nav {
    @include franklin-gothic;
    background: #fff; 

    &__inner {
        @include clearfix;
        @extend %max-width-768;   
    }

    &__name {
        display: none;

        @include bp-640 {
            float: left;
            display: block;
            padding: 20px 40px 18px 0;        
            color: $gray;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;            
        }

        &:hover,
        &:focus {
            color: $gray;
        }            
    }

    .social-list {
        padding: 14px 0;
        text-align: center;

        @include bp-640 {
            float: right;
        }

        &__item {
            margin-right: 18px;

            &:last-child {
                margin: 0;
            }    
        }

        i {
            font-size: 22px;
        }   
    }

}