.nav {
    border-bottom: 1px solid $gray-light;

    &__inner {
        @include clearfix;
        @extend %max-width-768;       
    }

    &__name {
        display: none;
        font-weight: $light;

        @media (min-width: 640px) {
            float: left;
            display: block;
            padding: 15px 40px 15px 0;        
            color: $gray;
        }

        &:hover,
        &:focus {
            color: $gray;
        }            
    }            

    // Pages
    &__pages-list {
        text-align: center;

        @media (min-width: 640px) {
            float: right;
            text-align: left;
        }
    }

    &__pages-list__item {
        display: inline-block;
        padding: 0 15px;     
    
        &.is-selected a {
            color: $gray;
            cursor: default;
            border-color: $gray-light;            
        }
    
        a {
            padding: 18px 0 14px;
            border-bottom: 4px solid transparent;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }        
    }  
}