.project {
	padding: 30px 0 0;

	@media (min-width: 640px) {
		padding: 50px 0 30px;
	}	

	+ .project {
		border-top: 1px solid $gray;
	}

	&__headline,
	&__subheadline {
		text-align: center;
	}

	&__headline {
		padding: 0 20px 10px;
		font-size: 20px;

		@media (min-width: 640px) {
	        font-size: 26px;
	    }		
	}

	&__subheadline {
		display: block;
		color: $gray;
		line-height: 1.3em;
		padding-bottom: 30px;
		font-style: italic;
	}

	&__details-list {
		margin-bottom: 30px;
	}

	&__details-item {
		margin-bottom: 4px;
	}

	&__item {

		img {
			max-width: 100%;			
			margin: 0 auto;		
		}
	}

	&__img-border {
		border: 1px solid $gray;
	}

	&__summary {
		padding: 20px 0;
		@extend %max-width-460;
		line-height: 1.4em;
	}

	&__summary__item {
		padding-top: 10px;
	}

	&__summary__copy {
		padding-bottom: 20px;
	}
}