.social-list {

	i {
        font-size: em(26px, 16px);
    }

    &__item {
	    display: inline-block;        
	    margin-right: em(24px, 16px);

	    &:last-child {
	        margin: 0;
	    }   		
	}

	&__link {
		color: $gray;
		border-bottom: 0 none;

		&:hover,
		&:focus {
			border-bottom: 0 none;
		}
	}
}